* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #666;
    font-size: 12px;
}

ul {
    list-style: none;
}

header,
section {
    width: 100%;
    overflow: hidden;
}

.loginBox {
    width: 100%;
    background-color: #333;
}

.loginDiv {
    width: 1100px;
    height: 40px;
    margin: 0 auto;
    line-height: 38px;
}

.loginDiv a {
    color: #ccc;
}

.login_right {
    float: right;
}

.loginDiv li {
    float: left;
    text-align: center;
}

.loginDiv li a {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #5C5C5C;
}

.loginDiv li a:hover {
    color: #B4A078;
}

.loginsite {
    color: #ccc;
    margin-right: 20px;
    float: left;
}

.logoDiv {
    width: 1100px;
    height: 160px;
    margin: 0 auto;
    line-height: 160px;
    overflow: hidden;
}

.logo {
    width: 180px;
    height: 70px;
    background: url(../images/logo.png) no-repeat;
    margin-top: 60px;
    float: left;
    margin-right: 50px;
}

.logoDiv h2 {
    color: #333;
    font-weight: normal;
    float: left;
    margin-top: 10px;
}

.searchDiv {
    width: 400px;
    height: 40px;
    float: right;
    margin-top: 80px;
    margin-right: 50px;
    text-align: center;
}

.searchTxt {
    width: 300px;
    height: 26px;
    padding-left: 12px;
    font-size: 12px;
    color: #999;
    outline: none;
    float: left;
    border: none;
    border-bottom: 1px solid #B4A078;
}

.searchBtn {
    width: 60px;
    height: 32px;
    text-align: center;
    background: url(../images/logo.png) no-repeat 13px -138px;
    outline: none;
    border: none;
    float: left;
    cursor: pointer;
}

.searchBtn:hover {
    background-position-y: -108px;
}

aside {
    overflow: hidden;
    position: fixed;
    right: 20px;
    bottom: 40px;
    display: none;
    font-size: 12px;
    color: #666;
}

.asideDiv {
    width: 60px;
    height: 60px;
    border: 1px solid #D0C4AF;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.asideDiv:hover {
    color: #B4A078;
}

.a_downAPP div {
    width: 20px;
    height: 35px;
    margin: 3px auto;
    background: url(../images/aside.png) no-repeat 0px -165px;
}

.a_downAPP:hover div {
    background-position-y: -125px;
}

.a_service div {
    width: 32px;
    height: 35px;
    margin: 3px auto;
    background: url(../images/aside.png) no-repeat 0px -84px;
}

.a_service:hover div {
    background-position-y: -43px;
}

.a_feedback div {
    width: 26px;
    height: 35px;
    margin: 3px auto;
    background: url(../images/aside.png) no-repeat 0px -420px;
}

.a_feedback:hover div {
    background-position-y: -384px;
}

.a_survey div {
    width: 28px;
    height: 35px;
    margin: 3px auto;
    background: url(../images/aside.png) no-repeat 0px -295px;
}

.a_survey:hover div {
    background-position-y: -256px;
}

.backtotop {
    width: 60px;
    height: 60px;
    background-color: #D0C4AF;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    letter-spacing: 1px;
}

.backtotop:hover {
    color: white;
    background-color: #B4A078;
}

.inner_section {
    width: 1100px;
    overflow: hidden;
    margin: 30px auto;
}

.content {
    width: 1100px;
    min-height: 300px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.con_box {
    width: 1000px;
    min-height: 80px;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
    padding-bottom: 20px;
}

.add_address {
    float: right;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    font-weight: normal;
}

.add_address:hover {
    color: #E4393C;
}

.address_item {
    width: 940px;
    line-height: 32px;
    margin-top: 20px;
    font-size: 12px;
    overflow: hidden;
    margin-left: 30px;
}

.address_item:hover {
    background-color: #FFF3F3;
}

.spanstyle .address_item span {
    width: 140px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    background-color: white;
}

.delete_address {
    float: right;
    margin-right: 10px;
}

.delete_address:hover {
    color: #E4393C;
}

.add_address_div {
    width: 600px;
    height: 440px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
    background-color: white;
    display: none;
    z-index: 999;
}

.address_head {
    width: 575px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 5px;
    background-color: #F3F3F3;
    font-size: 18px;
    margin-bottom: 20px;
}

.close_x {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    background: url(../images/icon48.png) no-repeat -54px;
    cursor: pointer;
}

.add_address_div form p {
    padding-left: 20px;
    margin-top: 5px;
}

.add_address_div form strong {
    display: inline-block;
    width: 80px;
    height: 30px;
    font-weight: normal;
    font-size: 14px;
}

.add_address_div form span {
    color: #E4393C;
    padding-right: 5px;
    font-weight: bold;
}

.add_address_div form input {
    outline: none;
    width: 240px;
    height: 23px;
    padding-left: 6px;
}

.add_address_div form select {
    width: 70px;
    height: 25px;
    outline: none;
}

.add_address_div form input.sub_add_address {
    border: none;
    width: 180px;
    height: 35px;
    background-color: #E4393C;
    text-align: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 160px;
    margin-top: 25px;
}

.spanstyle span {
    display: inline-block;
    min-width: 90px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}

.spanstyle span:hover {
    border: 2px solid #E4393C;
}

.spanstyle span.cur_default {
    border: 2px solid #E4393C;
    background: url(../images/selected-icon.png) no-repeat right bottom;
    background-color: white;
}

.order {
    width: 1100px;
    height: 100px;
    background-color: #F4F4F4;
    border-top: 1px solid #ccc;
    margin-top: 100px;
    margin-bottom: 60px;
}

.order p {
    float: right;
    font-size: 14px;
    padding-right: 50px;
    margin-top: 10px;
}

.order p strong {
    color: #E4393C;
    font-size: 16px;
    margin-left: 30px;
}

.submit_order {
    display: block;
    float: right;
    width: 135px;
    height: 36px;
    background: url(../images/btn-submit.jpg) no-repeat;
    margin-top: 50px;
    margin-right: -150px;
}

.submit_order:hover {
    background-position-y: -36px;
}

.confirmDiv {
    width: 400px;
    height: 180px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    background-color: white;
    display: none;
    z-index: 999;
}

.confirm_header {
    width: 390px;
    line-height: 30px;
    background-color: #F3F3F3;
    padding-left: 10px;
}

.confirm_content {
    width: 400px;
    height: 100px;
}

.confirm_content span {
    float: left;
    width: 54px;
    height: 54px;
    background: url(../images/icon48.png) no-repeat -92px 0px;
    margin-left: 80px;
    margin-top: 26px;
}

.confirm_content p {
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

.confirm_footer span {
    display: inline-block;
    width: 50px;
    line-height: 28px;
    background-color: #F3F3F3;
    border: 1px solid #E1E1E1;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.confirm_cancel {
    float: left;
    margin-left: 130px;
}

.confirm_confirm {
    float: right;
    margin-right: 130px;
}

.mask_div {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #414141;
    overflow: hidden;
}

.innerfooter {
    width: 1100px;
    height: 300px;
    margin: 0 auto;
}

.ensureUl {
    width: 1100px;
    height: 60px;
    margin-top: 50px;
}

.ensureUl li {
    float: left;
    width: 362px;
    height: 60px;
}

.ensureimg {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 80px;
    background: green;
}

.ensureimg1 {
    background: url(../images/footer.png) no-repeat 0px 0px;
}

.ensureimg2 {
    background: url(../images/footer.png) no-repeat 0px -60px;
}

.ensureimg3 {
    background: url(../images/footer.png) no-repeat 0px -120px;
}

.ensureUl li p {
    float: left;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 20px;
    color: white;
}

.innerfooter hr {
    height: 1px;
    background-color: #4f4f4f;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutus a {
    color: #999;
}

.aboutus {
    font-size: 12px;
    color: #999;
    float: left;
}

.aboutus p {
    margin-bottom: 6px;
}

.us_nav a {
    border-left: 1px solid #5C5C5C;
    padding-left: 8px;
    padding-right: 8px;
}

.us_nav a:first-child {
    border: none;
    padding-left: 0;
}

.us_nav a:hover {
    color: #ccc;
}